<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <title>DTOceanPlus</title>
  <!-- <%= htmlWebpackPlugin.options.title %> -->
  <!-- <%= webpackConfig.name %> -->
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script src="/three.min.js"></script>
  <script src="/OrbitControls.js"></script>
  <script src="/OBJLoader.js"></script>
  <script src="/three.bas.js"></script>
  <script src="/OrbitControls_copy.js"></script>
</body>

</html>