<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-row :gutter="20" class="main">
    <el-col :span="24" :offset="0">
      <h1>Dashboard</h1>
      <div class="dashboard-wrap">
        <ul>
          <li v-if="currentUser.role == 'user'">
            <router-link class="dashboard-link" to="/projects">
              <i class="el-icon-s-grid"></i>
              <h2>Projects ({{ projectsCount }})</h2>
            </router-link>
          </li>
          <li>
            <a
              class="dashboard-link"
              :href="`${DTOP_PROTOCOL}//cm.${DTOP_DOMAIN}`"
              target="_blank"
            >
              <i class="el-icon-receiving"></i>
              <h2>Catalogs</h2>
            </a>
          </li>
          <li v-if="currentUser.role == 'admin'">
            <router-link class="dashboard-link" to="/users">
              <i class="el-icon-user-solid"></i>
              <h2>Users ({{ usersCount }})</h2>
            </router-link>
          </li>
          <li>
            <router-link class="dashboard-link" to="/logs">
              <i class="el-icon-notebook-2"></i>
              <h2>Logs</h2>
            </router-link>
          </li>
          <li class="sub">
            <span>
              <i class="el-icon-reading"></i>
              <a
                :href="`https://wave-energy-scotland.gitlab.io/dtoceanplus/dtop_documentation/`"
                target="_blank"
              >
                <h2>Documentation</h2>
              </a>
            </span>
          </li>
        </ul>
      </div>
    </el-col>
  </el-row>
</template>

<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import getCountUsers from "@/services/getCountUsers";
import getCountProjects from "@/services/getCountProjects";

import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts";
export default {
  data() {
    return {
      DTOP_DOMAIN: DTOP_DOMAIN,
      DTOP_PROTOCOL: DTOP_PROTOCOL,
      projectsCount: null,
      usersCount: null,
      projectCount: null,
    };
  },

  computed: {
    ...mapGetters(["projectsSettings", "usersSettings", "currentUser"]),
  },

  async mounted() {
    await this.getProjectsCount();
    await this.getUsersCount();
  },
  methods: {
    async getUsersCount() {
      this.usersCount = await getCountUsers();
    },
    async getProjectsCount() {
      this.projectsCount = await getCountProjects(this.currentUser.id);
    },
  },
};
</script>

<style lang="scss">
.dashboard {
  &-wrap {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
      li {
        position: relative;
        .dashboard-link,
        span {
          background-color: #ecf1f5;
          width: 230px;
          height: 80px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 20px;
          margin-right: 15px;
          margin-bottom: 15px;
          text-decoration: none;
          transition: all 0.3s ease-in;
          i {
            transition: all 0.3s ease-in;

            color: var(--color-dark-blue);
            font-size: 27px;
          }
          h2 {
            transition: all 0.3s ease-in;

            margin-top: 10px;
            margin-bottom: 0;
          }
        }
        .dashboard-link {
          &:hover {
            background-color: var(--color-dark-blue);
            i,
            h2 {
              color: #fff;
            }
          }
        }
        span {
          cursor: pointer;
          z-index: 2;
          position: relative;
        }
        .sub-menu {
          transition: all 0.3s ease;
          position: absolute;
          left: 0;
          bottom: auto;
          width: calc(100% - 15px);
          background-color: #ecf1f5;

          z-index: 1;
          opacity: 0;
          transform: translateY(-100%);
          ul {
            margin: 0;
            padding: 20px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            li {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
              a {
                color: var(--color-dark-blue);
                text-decoration: none;
              }
            }
          }
        }
      }
      .sub {
        &:hover {
          .sub-menu {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}
</style>
