// This is the Main Module for the DTOceanPlus suite of Tools.
// It is the main entry point to create and manage projects.
// Copyright (C) 2021 OPEN CASCADE
//
// This program is free software: you can redistribute it and/or modify it
// under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

.el-table thead tr,
.el-table thead th {
  background: #f5f7fa;
}
.addNewItem {
  float: left;
  margin-bottom: 20px !important;
}
.hidden {
  display: none;
}
.switch-wrapper,
.filter-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
}
.el-collapse {
  margin-bottom: 25px;
}
.el-table th.is-sortable .cell {
  position: relative;
}

.el-table th.is-sortable .cell .caret-wrapper {
  position: absolute;
  right: 12px;
  top: 0;
}

.el-table th.is-sortable .cell .el-input {
  margin-top: 10px;
}

.el-table .sort-caret {
  border: 8px solid transparent !important;
}

.el-table .sort-caret.ascending {
  border-bottom-color: #c0c4cc !important;
  top: -2px !important;
}

.el-table .sort-caret.descending {
  border-top-color: #c0c4cc !important;
  bottom: 0px !important;
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #409eff !important;
}
.el-table .descending .sort-caret.descending {
  border-top-color: #409eff !important;
}
.bottom-block {
  margin-top: 25px;
}
.cell .el-table__column-filter-trigger {
  display: none;
}
.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .el-button {
    margin: 0 5px;
  }
}
.ml {
  margin-left: -20px;
}
.el-table td .cell {
  padding-left: 30px !important;
}
.fixed-column {
  .cell {
    padding-left: 30px !important;
  }
}
.cell-label {
  padding-left: 18px !important;
}
.tableData-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .el-select {
    max-width: 100px;
  }
}
.el-table__operations {
  text-align: center;
  padding-bottom: 10px;
}
.activeBtn {
  background: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  span {
    color: #fff;
  }
  &:hover,
  &:focus {
    background: var(--color-dark-blue) !important;
    border: 1px solid var(--color-dark-blue) !important;
    span {
      color: #fff !important;
    }
  }
}
.table-data {
  margin-bottom: 40px;
}
.hiddenSort{
  .caret-wrapper{
    display: none;
  }
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 100%;
}