<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="table-wrapper">
    <div class="section-header">
      <h1>Users</h1>
      <el-button type="success" @click="createUserConfirm()" data-cy-mm="create-user-popup-btn"
        >Create New User</el-button
      >
    </div>
    <div class="table-data">
      <Table
        :tableData="tableData"
        :tableHeader="tableHeader"
        :filterWhereCopy="filterWhereCopy"
        :loading="loading"
        :defaultSort="defaultSort"
        :operationsBlockWidth="'330px'"
        @change-order-items="changeOrderItems"
        @filter-data="filterData"
        @reset-filter-data="resetFilterData"
      >
        <template v-slot:btns="{ props }">
          <div class="button-wrapper">
            <el-button
              type="success"
              size="mini"
              @click="editUserInfoConfirm(props)"
            >
              Edit info</el-button
            >
            <el-button
              type="primary"
              size="mini"
              @click="editUserPassConfirm(props)"
            >
              Edit password</el-button
            >
            <el-button
              :disabled="currentUser.id == props.id"
              type="danger"
              size="mini"
              @click="deleteUserConfirm(props)"
              data-cy-mm="delete-user-popup-btn"
              >Delete</el-button
            >
          </div>
        </template>
      </Table>
    </div>
    <div class="table-navi">
      <Pagination
        :total="usersCount"
        :pageSize="filter.limit"
        :currPage="currPage"
        @current-change="changePage"
      />
      <PerPage :filterLimit.sync="filter.limit" :perPageCounts="[10, 20, 50]" />
    </div>
    <!-- create-edit user form -->
    <el-dialog
      :title="
        actionUser == 'createUser'
          ? 'Create User'
          : actionUser == 'editInfo'
          ? 'Edit Info'
          : actionUser == 'editPass'
          ? 'Edit Password'
          : actionUser == 'deleteUser'
          ? 'Delete User?'
          : ''
      "
      :visible.sync="creatingFormInUse"
      width="510px"
      :close-on-click-modal="false"
      @close="resetForm()"
    >
      <el-form
        v-if="actionUser !== 'deleteUser'"
        :model="formUser"
        ref="formUser"
        width="500px"
        :rules="rules"
      >
        <el-form-item
          v-if="actionUser == 'createUser' || actionUser == 'editInfo'"
          label="Name"
          prop="name"
        >
          <el-input  data-cy-mm="name-input" v-model="formUser.name" />
        </el-form-item>
        <el-form-item
          v-if="actionUser == 'createUser' || actionUser == 'editInfo'"
          label="Email"
          prop="email"
        >
          <el-input data-cy-mm="email-input" v-model="formUser.email" />
        </el-form-item>
        <el-form-item
          v-if="actionUser == 'createUser' || actionUser == 'editPass'"
          class="is-required"
          label="Password"
          prop="password"
        >
          <el-input data-cy-mm="password-input" type="password" v-model="formUser.password" />
        </el-form-item>
        <el-form-item
          v-if="actionUser == 'createUser' || actionUser == 'editPass'"
          class="is-required"
          label="Confirm password"
          prop="confirmPassword"
        >
          <el-input data-cy-mm="confirm-password-input" type="password" v-model="formUser.confirmPassword" />
        </el-form-item>
        <el-form-item
          v-if="actionUser == 'createUser'"
          label="User role"
          prop="userRole"
        >
          <el-select data-cy-mm="role-select" v-model="formUser.userRole">
            <el-option
              v-for="item in userRoles"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <div class="dialogBtns-wrap">
          <el-button @click="creatingFormInUse = false">Cancel</el-button>
          <!-- <el-button type="warning" @click="resetForm()">Reset</el-button> -->

          <el-button
            v-if="actionUser == 'createUser'"
            type="primary"
            :loading="loadingCreatingUserBtn"
            @click="createUserSubmit()"
            data-cy-mm="create-user-btn"
            >Create</el-button
          >
          <el-button
            v-if="actionUser == 'editInfo'"
            type="primary"
            :loading="loadingCreatingUserBtn"
            @click="editUserInfoSubmit()"
            >Edit</el-button
          >
          <el-button
            v-if="actionUser == 'editPass'"
            type="primary"
            :loading="loadingCreatingUserBtn"
            @click="editUserPassSubmit()"
            >Edit</el-button
          >
        </div>
      </el-form>
      <div v-if="actionUser == 'deleteUser'">
        <h3 v-if="projectsIds.length > 0">
          This user cannot be deleted because hi/she is a<br />member of
          {{ projectsIds.length }} projects
        </h3>
        <div class="deleteBtn_wrap">
          <el-button @click="creatingFormInUse = false">Cancel</el-button>
          <el-button
            :disabled="projectsIds.length > 0"
            type="danger"
            :loading="loadingCreatingUserBtn"
            @click="deleteUserSubmit()"
            data-cy-mm="delete-user-btn"
            >Delete</el-button
          >
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script src="./Users.js"></script>

<style lang="scss">
.el-table thead tr,
.el-table thead th {
  background: #f5f7fa;
}
.addNewItem {
  float: left;
  margin-bottom: 20px !important;
}
.hidden {
  display: none;
}
.switch-wrapper,
.filter-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
}
.el-collapse {
  margin-bottom: 25px;
}
.el-table th.is-sortable .cell {
  position: relative;
}

.el-table th.is-sortable .cell .caret-wrapper {
  position: absolute;
  right: 12px;
  top: 0;
}

.el-table th.is-sortable .cell .el-input {
  margin-top: 10px;
}

.el-table .sort-caret {
  border: 8px solid transparent !important;
}

.el-table .sort-caret.ascending {
  border-bottom-color: #c0c4cc !important;
  top: -2px !important;
}

.el-table .sort-caret.descending {
  border-top-color: #c0c4cc !important;
  bottom: 0px !important;
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #409eff !important;
}
.el-table .descending .sort-caret.descending {
  border-top-color: #409eff !important;
}
.bottom-block {
  margin-top: 25px;
}
.cell .el-table__column-filter-trigger {
  display: none;
}
.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .el-button {
    margin: 0 5px;
  }
}
.ml {
  margin-left: -20px;
}
.el-table td .cell {
  padding-left: 30px !important;
}
.fixed-column {
  .cell {
    padding-left: 30px !important;
  }
}
.cell-label {
  padding-left: 18px !important;
}
.tableData-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .el-select {
    max-width: 100px;
  }
}
.el-table__operations {
  text-align: center;
  padding-bottom: 10px;
}
.activeBtn {
  background: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  span {
    color: #fff;
  }
  &:hover,
  &:focus {
    background: var(--color-dark-blue) !important;
    border: 1px solid var(--color-dark-blue) !important;
    span {
      color: #fff !important;
    }
  }
}
.table-data {
  margin-bottom: 40px;
}
.hiddenSort {
  .caret-wrapper {
    display: none;
  }
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
</style>
