<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <div v-if="comparingStudies.length > 0">
      <div class="compare-wrap">
        <div
          class="compare-item"
          v-for="item in comparingStudies"
          :key="item.id"
        >
          <div class="compare-item__prop"><b>id:</b> {{ item.id }}</div>
          <div class="compare-item__prop"><b>name:</b> {{ item.name }}</div>
          <div class="compare-item__prop">
            <b>created:</b> {{ item.createdAt.substring(0, 10) }}
          </div>
          <div class="compare-item__prop">
            <b>template:</b> {{ item.template }}
          </div>
          <div class="compare-item__prop">
            <b>description:</b> {{ item.description ? item.description : "-" }}
          </div>
          <div class="compare-item__prop">
            <el-button
              type="success"
              @click="
                drShowStudyDialog = true;
                selectedStudy = item;
              "
            >
              Show DR
            </el-button>
          </div>
        </div>
      </div>
      <div class="compare-clear">
        <el-button type="warning" @click="clearComparison()"
          >Clear comparison</el-button
        >
      </div>
    </div>
    <div v-else>
      <h3>Please select studies to compare</h3>
    </div>
    <ShowDRStudy
      :drShowStudyDialog.sync="drShowStudyDialog"
      :drShowStudy="selectedStudy"
    />
  </div>
</template>
<script>
import getStudy from "@/services/getStudy";
import ShowDRStudy from "@/components/ShowDRStudy";

export default {
  components: { ShowDRStudy },
  props: {
    comparingStudiesIds: {
      type: Array,
      required: true,
    },
  },
  async mounted() {
    await this.getStudies();
  },
  methods: {
    async getStudies() {
      for (let i = 0; i < this.comparingStudiesIds.length; i++) {
        const study = await getStudy(this.comparingStudiesIds[i]);
        this.comparingStudies.push(study);
      }
    },
    clearComparison() {
      this.comparingStudies = [];
      this.$emit("update:comparingStudiesIds", []);
    },
  },
  data() {
    return {
      comparingStudies: [],
      drShowStudyDialog: false,
      selectedStudy: {},
    };
  },
};
</script>

<style lang="scss">
.compare {
  &-wrap {
    display: flex;
    align-items: flex-start;
  }
  &-item {
    width: calc(100% / 3);
  }
  &-item__prop {
    padding: 9px 10px 9px 0;
    border-bottom: 1px solid #ebeef5;
    b {
      font-weight: bold;
    }
  }
  &-clear{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
</style>
