<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-dialog
      :title="
        'Create and register new entity for ' + moduleProps.name + ' module'
      "
      :close-on-click-modal="false"
      @close="closeDialog"
      :visible="creatingFormInUse"
      width="500px"
    >
      <template v-if="warningMessage && studyProps.template != 'Standalone'">
        <el-alert
          class="mb-25"
          title="This Study already contains data registered for other modules from recommended sequence, update of data for given module can impact on Study Module data consistency."
          :closable="false"
          type="warning"
        ></el-alert>
      </template>
      <component
        v-if="this.$options.components[moduleProps.name]"
        :is="moduleProps.name"
        :studyProps="studyProps"
        @create-new-entity-in-module="createdEntity"
      ></component>
      <h3 v-else>Integration with the Module is not yet implemented</h3>
      <span slot="footer" class="dialog-footer"> </span>
    </el-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import editEntity from "@/services/editEntity";
import createEntity from "@/services/createEntity";

import Ed from "./modules/ed";
import Sc from "./modules/sc";
import Mc from "./modules/mc";
import Sg from "./modules/sg";
import Lmo from "./modules/lmo";
import Spey from "./modules/spey";
import Rams from "./modules/rams";
import Slc from "./modules/slc";
import Si from "./modules/si";
import Ec from "./modules/ec";
import Et from "./modules/et";
import Sk from "./modules/sk";
import Esa from "./modules/esa";

export default {
  props: {
    creatingFormInUse: {
      type: Boolean,
      required: false,
      default: false,
    },
    moduleProps: {
      type: Object,
      required: false,
    },
    studyProps: {
      type: Object,
    },
    rowIdForStandaloneStudy: {
      type: Number,
      required: false,
    },
    warningMessage: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  components: {
    ED: Ed,
    SC: Sc,
    MC: Mc,
    SG: Sg,
    LMO: Lmo,
    SPEY: Spey,
    RAMS: Rams,
    SLC: Slc,
    SI: Si,
    EC: Ec,
    ET: Et,
    SK: Sk,
    ESA: Esa,
  },
  data() {
    return {};
  },
  mounted() {},
  created() {},

  methods: {
    closeDialog() {
      this.$emit("update:creatingFormInUse", false);
    },
    async updateEntity(studyId, moduleId, entityId, entityName) {
      return await editEntity(this.rowIdForStandaloneStudy, {
        studyId: studyId,
        moduleId: moduleId,
        entityId: entityId,
        entityName: entityName,
      });
    },
    async updateEntitySI(studyId, moduleId) {
      var forEntityId =
        studyId >= moduleId
          ? studyId * studyId + studyId + moduleId
          : moduleId * moduleId + studyId; // Szudzik pairing
      var forEntityName = "SI_" + forEntityId;
      return await editEntity(this.rowIdForStandaloneStudy, {
        studyId: studyId,
        moduleId: moduleId,
        entityId: forEntityId,
        entityName: forEntityName,
      });
    },
    async createNewEntity(studyId, moduleId, entityId, entityName) {
      return await createEntity({
        studyId: studyId,
        moduleId: moduleId,
        entityId: entityId,
        entityName: entityName,
      });
    },
    async createNewEntitySI(studyId, moduleId) {
      var forEntityId =
        studyId >= moduleId
          ? studyId * studyId + studyId + moduleId
          : moduleId * moduleId + studyId; // Szudzik pairing
      var forEntityName = "SI_" + forEntityId;
      return await createEntity({
        studyId: studyId,
        moduleId: moduleId,
        entityId: forEntityId,
        entityName: forEntityName,
      });
    },
    async createdEntity(obj) {
      if (this.studyProps.template == "Standalone") {
        if (this.moduleProps.name != "SI") {
          await this.updateEntity(
            this.studyProps.id,
            this.moduleProps.id,
            obj.entityId,
            obj.entityName
          );
        } else {
          await this.updateEntitySI(this.studyProps.id, this.moduleProps.id);
        }
      } else {
        if (this.moduleProps.name != "SI") {
          await this.createNewEntity(
            this.studyProps.id,
            this.moduleProps.id,
            obj.entityId,
            obj.entityName
          );
        } else {
          await this.createNewEntitySI(this.studyProps.id, this.moduleProps.id);
        }
      }
      this.$notify({
        title: "Success",
        message: "Entity was created and registred.",
        type: "success",
      });
      this.closeDialog();
      this.$emit("create-new-entity");
    },
  },
};
</script>

<style lang="scss" scoped>
.mb-25 {
  margin-bottom: 25px;
}
.el-dialog__wrapper {
  position: fixed;
  z-index: 999999;
}
</style>
