<template>
  <div>
    <el-dialog
      :title="'Digital Representation for study - ' + drStudy.name"
      :visible="drStudyDialog"
      width="690px"
      :close-on-click-modal="false"
      @close="closeDialog"
      @open="digitalRep"
    >
      <h3 v-if="drModules.length == 0">
        Entities are not created in this Study
      </h3>
      <div v-if="drModules.length > 0">
        <h3>Entities</h3>
        <el-table :data="drModules" style="width: 100%" class="table-data">
          <el-table-column prop="entityId" label="Entity Id" width="180">
          </el-table-column>
          <el-table-column prop="entityName" label="Entity Name" width="180">
          </el-table-column>
          <el-table-column prop="nickname" label="Module"> </el-table-column>
        </el-table>
        <el-alert
          :closable="false"
          title="Note: Currently Digital Representation services for some modules are not yet avaliable."
          type="warning"
        >
        </el-alert>
        <el-form class="dr-form">
          <el-form-item>
            <el-input
              type="text"
              placeholder="DR Name"
              v-model="drName"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-input
              type="text"
              placeholder="DR Description"
              v-model="drDescription"
            ></el-input>
          </el-form-item>
        </el-form>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog" size="mini">Cancel</el-button>
        <el-button
          :disabled="drModules.length == 0"
          :loading="loadingDrStudyBtn"
          type="success"
          size="mini"
          @click="generateDr()"
          >Create DR</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import getEntitiesByStudyId from "@/services/getEntitiesByStudyId";
import { getModulesDr, getDrFromModule } from "../common/services";
import getStudyDigitalrep from "@/services/getStudyDigitalrep";
import createDigitalrep from "@/services/createDigitalrep";

export default {
  props: {
    drStudyDialog: {
      type: Boolean,
      required: false,
      default: false,
    },
    drStudy: {
      type: Object,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      loadingDrStudyBtn: false,
      drModules: [],
      dr: {
        modules: [],
        study_id: null,
      },
      modulesDr: [],
      drName: "",
      drDescription: "",
    };
  },
  async mounted() {},
  methods: {
    async digitalRep() {
      try {
        this.modulesDr = getModulesDr();
        this.drModules = [];
        this.drModules = await getEntitiesByStudyId(this.drStudy.id);
        //set nicknames modules
        if (this.drModules.length > 0) {
          this.drModules.forEach((element) => {
            element.nickname = this.modulesDr.filter(
              (el) => el.id === element.moduleId
            )[0].nickname;
          });
        }
        this.dr.study_id = this.drStudy.id;
      } catch (err) {
        this.$notify({
          title: "Error",
          message: `${err}`,
          type: "error",
        });
      }
    },
    async generateDr() {
      try {
        this.dr.modules = [];
        this.loadingDrStudyBtn = true;
        // collecting all the dr from all modules for the current study
        for (let i = 0; i < this.drModules.length; i++) {
          const drDoc = await getDrFromModule(
            this.drModules[i].nickname,
            this.drModules[i].entityId
          );
          if(drDoc) this.dr.modules.push({
            dr_doc:drDoc,
            module_name: this.drModules[i].nickname,
          });
        }
        // sending data to backend dr
        const studyDr = await getStudyDigitalrep(this.dr);
        if (studyDr.data.exit_code == 0) {
          // sending dr to backend mm
          await createDigitalrep({
            name: this.drName != "" ? this.drName : `${this.drStudy.name}-dr`,
            description: this.drDescription,
            createdAt: new Date().toISOString(),
            data: JSON.stringify(studyDr.data.dr_auto_doc.data, null, 2),
            studyId: this.dr.study_id,
          });
          this.$notify({
            title: "Success",
            message: "DR was created.",
            type: "success",
          });
          this.closeDialog();
          this.drName = "";
          this.drDescription = "";
        } else {
          this.$notify({
            title: "Error duing merging DRs",
            message: `${studyDr.data.error_msg}`,
            type: "error",
            duration: 0
          });
        }

      } catch (err) {
        this.$notify({
          title: "Error",
          message: `${err}`,
          type: "error",
        });
      } finally {
        this.loadingDrStudyBtn = false;
      }
    },
    closeDialog() {
      this.$emit("update:drStudyDialog", false);
    },
  },
};
</script>
<style lang="scss" scoped>
.dr-form {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  .el-form-item {
    width: calc(50% - 10px);
  }
}
.el-table td .cell {
  padding-left: 30px !important;
}
.fixed-column {
  .cell {
    padding-left: 30px !important;
  }
}
.cell-label {
  padding-left: 18px !important;
}
.tableData-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .el-select {
    max-width: 100px;
  }
}
.el-table__operations {
  text-align: center;
  padding-bottom: 10px;
}
</style>
