<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <!-- Fork Study -->
    <el-dialog
      :title="'Forking study ' + forkingStudy.name"
      @close="closeDialog"
      :visible="forkStudyDialog"
      :close-on-click-modal="false"
      width="500px"
    >
      <el-form>
        <el-form-item>
          <el-input
            type="text"
            placeholder="New Study Name"
            v-model="forkStudyForm.name"
            data-cy-mm="form__input"
          ></el-input>
          <template v-if="$v.forkStudyForm.name.$anyError">
            <el-alert
              v-if="!$v.forkStudyForm.name.required"
              title="Study name is required"
              :closable="false"
              type="error"
              data-cy-mm="nameInputError"
            ></el-alert>
          </template>
        </el-form-item>
        <el-form-item>
          <el-select
            v-model="forkStudyForm.module"
            placeholder="Module to which to fork"
          >
            <el-option
              v-for="item in forkListModules"
              :key="item.description"
              :label="item.description"
              :value="item.id"
            >
            </el-option>
          </el-select>
          <template v-if="$v.forkStudyForm.module.$anyError">
            <el-alert
              v-if="!$v.forkStudyForm.module.required"
              title="Module is required"
              :closable="false"
              type="error"
              data-cy-mm="nameInputError"
            ></el-alert>
          </template>
        </el-form-item>
        <el-form-item>
          <el-input
            placeholder="Study description"
            v-model="forkStudyForm.description"
            data-cy-mm="form__input"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog()">Cancel</el-button>
        <el-button type="primary" @click="forkStudy">Fork</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import { getModulesForkList } from "../common/services";
import getEntitiesWithFilter from "@/services/getEntitiesWithFilter";
import createStudy from "@/services/createStudy";
import createEntity from "@/services/createEntity";

export default {
  props: {
    forkStudyDialog: {
      type: Boolean,
      required: false,
      default: false,
    },
    forkingStudy: {
      type: Object,
      required: true,
    },
  },
  components: {},
  data() {
    return {
      forkStudyForm: {
        name: "",
        description: "",
        module: null,
      },
      selectedModuleId: null,
      forkListModules: [],
    };
  },
  validations: {
    forkStudyForm: {
      name: {
        required,
      },
      module: {
        required,
      },
    },
  },
  mounted() {
    this.forkListModules = getModulesForkList();
  },
  computed: {
    ...mapGetters(["currentUser"]),
  },
  methods: {
    async forkStudy() {
      this.$v.forkStudyForm.$touch();
      if (this.$v.forkStudyForm.$error) {
        return false;
      }
      //array witch modules to fork
      let arrayForkingModules = this.forkListModules.filter(
        (el) => el.id <= this.forkStudyForm.module
      );

      let forkingEntities = [],
        entities = [];

      try {
        entities = await getEntitiesWithFilter({
          where: {
            studyId: this.forkingStudy.id,
            entityId: { neq: null },
          },
        });
        if (entities.length > 0) {
          forkingEntities = arrayForkingModules.map((t1) => ({
            ...entities.find((t2) => t2.moduleId === t1.id),
            ...t1,
          }));
          const newStudy = await createStudy({
            name: this.forkStudyForm.name,
            template: this.forkingStudy.template,
            description: this.forkStudyForm.description,
            projectId: +this.$route.params.id,
            createdAt: new Date().toISOString(),
          });
          for (let i = 0; i < forkingEntities.length; i++) {
            if (forkingEntities[i].hasOwnProperty("entityId") && forkingEntities[i].entityId != 0) {
              const newEntity = await createEntity({
                studyId: newStudy.id,
                moduleId: forkingEntities[i].moduleId,
                entityId: forkingEntities[i].entityId,
                entityName: forkingEntities[i].entityName,
              });
            }
          }
          this.closeDialog();
          this.$emit("fork-study");
          this.$notify({
            title: "Success",
            message: "Study was forked.",
            type: "success",
          });
        }
      } catch (e) {
        this.$notify({
          title: "error",
          message: "Error.",
          type: "error",
        });
      }
    },
    closeDialog() {
      this.$emit("update:forkStudyDialog", false);
    },
  },
};
</script>

<style lang="scss">
.study-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
