<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-dialog
      :title="actionStudy == 'create' ? 'Create Study' : 'Edit Study'"
      @close="closeDialog"
      @open="openDialog"
      :visible="creatingFormInUse"
      :close-on-click-modal="false"
      width="500px"
    >
      <el-form :model="studyForm" ref="studyForm" :rules="rules">
        <el-form-item label="Name" prop="name">
          <el-input v-model="studyForm.name" />
        </el-form-item>

        <el-form-item
          v-if="template == 'Standalone' && actionStudy == 'create'"
          label="Study module"
          prop="selectedModuleId"
        >
          <el-select v-model="studyForm.selectedModuleId" placeholder="Module">
            <el-option
              v-for="item in listModules"
              :key="item.id"
              :label="item.description"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Description" prop="description">
          <el-input
            placeholder="Study description"
            v-model="studyForm.description"
            data-cy-mm="form__input"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog()">Cancel</el-button>
        <el-button
          v-if="actionStudy == 'create'"
          :loading="loadingCreatingStudyBtn"
          type="primary"
          @click="createStudy('studyForm')"
          >Create</el-button
        >
        <el-button
          v-if="actionStudy == 'edit'"
          :loading="loadingEditingStudyBtn"
          type="primary"
          @click="editStudy('studyForm')"
          >Edit</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import createStudy from "@/services/createStudy";
import createEntity from "@/services/createEntity";
import editStudy from "@/services/editStudy";
import { getStudyTemplates, getModulesList } from "../common/services";
import { mapGetters } from "vuex";

export default {
  props: {
    creatingFormInUse: {
      type: Boolean,
      required: false,
      default: false,
    },
    defaultEntities: {
      type: Array,
      required: true,
      default: [],
    },
    studyProps: {
      type: Object,
      required: false,
    },
    actionStudy: {
      type: String,
      required: false,
      default: "create",
    },
    template: {
      type: String,
      required: false,
      default: "Standalone",
    },
  },
  components: {},
  data() {
    return {
      loadingCreatingStudyBtn: false,
      loadingEditingStudyBtn: false,
      studyForm: {
        name: "",
        template: "",
        description: "",
        selectedModuleId: null,
      },
      rules: {
        name: [
          {
            required: true,
            message: "Please input study name",
            trigger: "blur",
          },
        ],
        selectedModuleId: [
          {
            required: true,
            message: "Please select module",
            trigger: "change",
          },
        ],
      },
      listModules: [],
      studyTemplates: [],
    };
  },

  mounted() {
    this.studyTemplates = getStudyTemplates();
    this.listModules = getModulesList();
  },
  computed: {
    ...mapGetters(["currentUser"]),
  },
  methods: {
    openDialog() {
      if (this.actionStudy == "edit") {
        this.studyForm = { ...this.studyForm, ...this.studyProps };
      } else {
        this.studyForm = {
          name: "",
          template: "",
          description: "",
        };
      }
    },
    async editStudy(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        this.loadingEditingStudyBtn = true;
        delete this.studyForm.selectedModuleId;

        try {
          await editStudy(this.studyForm.id, this.studyForm);
          this.$notify({
            title: "Success",
            message: "Study was edited.",
            type: "success",
          });
        } catch (e) {
          this.$notify({
            title: "error",
            message: `Error. ${e.response.data.error.message}`,
            type: "error",
          });
        } finally {
          this.resetForm();
          this.closeDialog();
          this.$emit("edited-study");
          this.loadingEditingStudyBtn = false;
        }
      }
    },
    async createStudy(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        this.loadingCreatingStudyBtn = true;
        this.studyForm.template = this.template;
        this.studyForm.projectId = +this.$route.params.id;
        this.studyForm.createdAt = new Date().toISOString();
        const selectedModuleId = this.studyForm.selectedModuleId;
        delete this.studyForm.selectedModuleId;
        let newStudy = {};
        try {
          newStudy = await createStudy(this.studyForm);
          if (this.template == "Standalone") {
            // creating default entity for Standalone study
            await createEntity({
              studyId: newStudy.id,
              moduleId: selectedModuleId,
            });
          } else {
            // creating default SC & MC entity for study
            for (let i = 0; i < this.defaultEntities.length; i++) {
              await createEntity({
                studyId: newStudy.id,
                moduleId: this.defaultEntities[i].id,
                entityId: this.defaultEntities[i].entityId,
                entityName: this.defaultEntities[i].entityName,
              });
            }
          }

          this.$notify({
            title: "Success",
            message: "Study was created.",
            type: "success",
          });
        } catch (e) {
          this.$notify({
            title: "error",
            message: `Error. ${e.response.data.error.message}`,
            type: "error",
          });
        } finally {
          this.resetForm();
          this.closeDialog();
          this.$emit("created-new-study", newStudy);
          this.loadingCreatingStudyBtn = false;
        }
      }
      {
        return false;
      }
    },
    resetForm() {
      this.studyForm.name = "";
      this.studyForm.template = "";
      this.studyForm.description = "";
      this.selectedModuleId = null;
    },
    closeDialog() {
      this.$emit("update:creatingFormInUse", false);
    },
  },
};
</script>

<style lang="scss">
</style>
