<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <div class="table-data">
      <Table
        :tableData="tableData"
        :tableHeader="tableHeader"
        :filterWhereCopy="filterWhereCopy"
        :loading="loading"
        :defaultSort="defaultSort"
        @change-order-items="changeOrderItems"
        @filter-data="filterData"
        @reset-filter-data="resetFilterData"
      >
        <template v-slot:btns="{ props }">
          <div class="button-wrapper">
            <el-button
              :disabled="usersInProject.length == 1"
              v-if="usersInProject.indexOf(+props.id) >= 0"
              type="danger"
              size="mini"
              @click="unregisterUserInProject(props)"
            >
              Unregister</el-button
            >
            <el-button
              v-else
              type="success"
              size="mini"
              @click="registerUserInProject(props)"
            >
              Register</el-button
            >
          </div>
        </template>
      </Table>
    </div>
    <div class="table-navi">
      <Pagination
        :total="usersCount"
        :pageSize="filter.limit"
        :currPage="currPage"
        @current-change="changePage"
      />
      <PerPage :filterLimit.sync="filter.limit" :perPageCounts="[10, 20, 50]" />
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Table from "@/components/Table/Table.vue";
import Pagination from "@/components/Pagination/Pagination.vue";
import PerPage from "@/components/PerPage/PerPage.vue";

import {
  UsersFilterTableFabric,
  UsersFilterTableWhereFabric,
} from "@/api/filterTable";
import getPaginateUsersByRoleId from "@/services/getPaginateUsersByRoleId";
import getUsersByProjecId from "@/services/getUsersByProjecId";
import registerUserInProject from "@/services/registerUserInProject";
import unregisterUserInProject from "@/services/unregisterUserInProject";

const usersFilterTableFabric = new UsersFilterTableFabric();
const usersFilterTableWhereFabric = new UsersFilterTableWhereFabric();

export default {
  props: {
    projectId: {
      type: Number,
      required: true,
      default: false,
    },
  },
  components: {
    Table,
    Pagination,
    PerPage,
  },
  data() {
    return {
      tableData: [],
      tableHeader: {
        id: true,
        name: true,
        email: true,
        createdAt: true,
      },
      loading: true,
      usersCount: 0,
      filterWhereCopy:
        usersFilterTableWhereFabric.createFilterTableWhereFromQuery(),
      filter: usersFilterTableFabric.createFilterTableFromQuery(),
      defaultSort: {
        prop: this.$route.query.order
          ? this.$route.query.order.split(" ")[0]
          : "",
        order: this.$route.query.order
          ? this.$route.query.order.split(" ")[1] === `DESC`
            ? `descending`
            : `ascending`
          : "",
      },
      usersInProject: [],
    };
  },
  computed: {
    currPage() {
      return parseInt(this.filter.offset / this.filter.limit) + 1;
    },
    queryObj() {
      let filterCopy = JSON.parse(JSON.stringify(this.filter));
      delete filterCopy.offset;
      return {
        ...filterCopy,
        currPage: this.currPage,
      };
    },
  },
  watch: {
    "filter.limit": ["resetPagination"],
    "filter.offset": ["loadUsers"],
    "filter.order": ["resetPagination"],
    "filter.where": ["resetPagination"],
    tableData: ["removeLoadingState"],
    filter: {
      handler: "updateQueryParams",
      deep: true,
    },
  },
  async mounted() {
    await this.getPaginateUsers();
    await this.getUsersForProject();
  },
  methods: {
    //table
    async getPaginateUsers() {
      // 2 - role id User
      const paginateUsers = await getPaginateUsersByRoleId(2, this.filter);
      this.usersCount = paginateUsers.usersCount;
      this.tableData = paginateUsers.users;
    },
    async loadUsers() {
      this.setLoadingState();
      await this.getPaginateUsers();
    },
    filterData() {
      for (let prop in this.filterWhereCopy) {
        if (this.filterWhereCopy[prop] == "")
          this.filterWhereCopy[prop] = undefined;
      }
      this.filter.where ==
        this.$set(
          this.filter,
          "where",
          JSON.parse(JSON.stringify(this.filterWhereCopy))
        );
    },
    resetFilterData() {
      for (let prop in this.filterWhereCopy) {
        this.filterWhereCopy[prop] = undefined;
      }
      this.filter.where ==
        this.$set(
          this.filter,
          "where",
          JSON.parse(JSON.stringify(this.filterWhereCopy))
        );
    },
    changePage(goToPage) {
      this.filter.offset = (goToPage - 1) * this.filter.limit;
    },
    changeOrderItems({ prop, order }) {
      this.filter.order =
        order === null
          ? ""
          : order === `descending`
          ? `${prop} DESC`
          : `${prop} ASC`;
    },
    updateQueryParams() {
      // this.$router.replace({
      //   query: this.queryObj,
      // });
    },
    setLoadingState() {
      this.loading = true;
    },
    removeLoadingState() {
      this.loading = false;
    },
    resetPagination() {
      if (this.filter.offset === 0) return this.loadUsers();
      this.filter.offset = 0;
      this.filter.order = null;
    },
    //table

    async getUsersForProject() {
      try {
        const users = await getUsersByProjecId({
          where: { projectId: this.projectId },
        });
        this.usersInProject.length = 0;
        users.forEach((el) => {
          this.usersInProject.push(el.userId);
        });
      } catch (err) {
        this.$notify({
          title: "Error",
          message: `${err}`,
          type: "error",
        });
      }
    },
    async registerUserInProject(obj) {
      try {
        await registerUserInProject({
          projectId: this.projectId,
          userId: +obj.id,
        });
        await this.getUsersForProject();
      } catch (err) {
        this.$notify({
          title: "Error",
          message: `${err}`,
          type: "error",
        });
      }
    },
    async unregisterUserInProject(obj) {
      try {
        const users = await getUsersByProjecId({
          where: { projectId: this.projectId, userId: obj.id },
        });
        for (let i = 0; i < users.length; i++) {
          await unregisterUserInProject(users[i].id);
        }
        await this.getUsersForProject();
      } catch (err) {
        this.$notify({
          title: "Error",
          message: `${err}`,
          type: "error",
        });
      }
    },
  },
};
</script>

<style lang="scss">
</style>
