<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="studyProps.id > 0">
    <div class="section-header"></div>
    <TableSimple
      :tableData="unionData"
      :tableHeader="tableHeader"
      :operationsWidth="250"
    >
      <template v-slot:btns="{ props }">
        <div v-if="props.entityName" class="button-wrapper">
          <el-button
            type="primary"
            size="mini"
            @click="openSingleEntityWithWarning(props.name, props.entityId)"
          >
            Open</el-button
          >
          <el-button
            v-if="props.name != 'SC' && props.name != 'MC'"
            type="danger"
            size="mini"
            @click="deleteEntity(props)"
          >
            Delete</el-button
          >
        </div>
        <div v-else class="button-wrapper">
          <el-button type="success" size="mini" @click="createEntity(props)">
            Create</el-button
          >
        </div>
      </template>
    </TableSimple>
    <CreateEntity
      :creatingFormInUse.sync="creatingFormInUse"
      :studyProps="studyProps"
      :moduleProps="moduleSelected"
      :warningMessage="warningMessage"
      :rowIdForStandaloneStudy="rowIdForStandaloneStudy"
      @create-new-entity="getModules"
    />
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import {
  openSingleEntity,
  deleteEntityInModule,
  getModulesList,
} from "../common/services";

import TableSimple from "@/components/TableSimple/TableSimple";
import createEntity from "@/services/createEntity";
import checkEntityFork from "@/services/checkEntityFork";

import CreateEntity from "./CreateNewEntity";

export default {
  computed: {
  },
  props: {
    studyProps: {
      type: Object,
      required: true,
    },
  },
  components: {
    TableSimple,
    CreateEntity,
  },
  data() {
    return {
      entityData: [],
      modulesData: [],
      unionData: [],
      creatingFormInUse: false,
      moduleSelected: { name: "", id: "" },
      rowIdForStandaloneStudy: null,
      tableHeader: {
        description: true,
        type: true,
        entityId: true,
        entityName: true,
      },
      warningMessage: false,
      fullListModules: [],
    };
  },
  watch: {
  },
  mounted() {
    this.fullListModules = getModulesList();
    this.getModules();
  },
  methods: {
    async unregisterEntity(id, moduleId) {
      if (this.studyProps.template == "Standalone") {
        await createEntity({
          studyId: this.studyProps.id,
          moduleId: moduleId,
        });
      }
      return axios.delete(`/studies-modules-entities/${id}`);
    },
    async deleteEntity(props) {
      const entities = await checkEntityFork(
        props.nickname,
        props.entityId
      );
      const countEntities = entities.data.filter(
        (el) =>
          el.entityId == props.entityId &&
          el.moduleId == props.moduleId &&
          el.projectId == +this.$route.params.id
      );
      if (countEntities.length == 1) {
        if (this.warningMessage && this.studyProps.template != "Standalone") {
          this.$alert(
            "WARNING: Deleting this entity may have an impact on the results of the following modules.",
            {
              showCancelButton: true,
              confirmButtonText: "Confirm",
              cancelButtonText: "Cancel",
              type: "warning",
            }
          )
          .then(async () => {
            try {
              await deleteEntityInModule(props.name, props.entityId);
            } catch (err) {}
            await this.unregisterEntity(props.id, props.moduleId);
            this.getModules();
            this.$notify({
              title: "Success",
              message: "Entity was deleted.",
              type: "success",
            });
          })
          .catch(() => {});
        }
        else {
          this.$alert(
            "WARNING: Are you sure you want to delete?",
            {
              showCancelButton: true,
              confirmButtonText: "Confirm",
              cancelButtonText: "Cancel",
              type: "warning",
            }
          )
          .then(async () => {
            try {
              await deleteEntityInModule(props.name, props.entityId);
            } catch (err) {}
            await this.unregisterEntity(props.id, props.moduleId);
            this.getModules();
            this.$notify({
              title: "Success",
              message: "Entity was deleted.",
              type: "success",
            });
          })
          .catch(() => {});
        }
      }
      else{
        this.$notify({
          title: "error",
          message: "The entity is forked, it cannot be deleted.",
          type: "error",
        });
      }
    },
    openSingleEntityWithWarning(entityNickname, id) {
      if (this.warningMessage && this.studyProps.template != "Standalone") {
        this.$alert(
          "WARNING: Editing data for this module may have an impact on the results of the following modules.",
          {
            showCancelButton: true,
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel",
            type: "warning",
          }
        ).then(() => {
          openSingleEntity(entityNickname, id);
        });
      } else {
        openSingleEntity(entityNickname, id);
      }
    },
    // Modules
    getModules() {
      this.unionData = [];
      if (this.studyProps.template == "Standalone") {
        axios
          .get("/studies-modules-entities", {
            params: {
              filter: {
                where: {
                  studyId: this.studyProps.id,
                },
              },
            },
          })
          .then((resp) => {
            this.rowIdForStandaloneStudy = resp.data[0].id;
            this.modulesData = this.fullListModules.filter(
              (el) => el.id == resp.data[0].moduleId
            );

            this.unionData = this.modulesData.map((t1) => ({
              ...t1,
              ...resp.data.find((t2) => t2.moduleId === t1.id),
            }));
          });
      } else {
        axios
          .get("/studies-modules-entities", {
            params: {
              filter: {
                where: {
                  studyId: this.studyProps.id,
                },
              },
            },
          })
          .then((response) => {
            // this.entityData = response.data;
            this.unionData = this.fullListModules.map((t1) => ({
              ...t1,
              ...response.data.find((t2) => t2.moduleId === t1.id),
            }));
          });
      }
    },

    createEntity(obj) {
      let checkArr = this.unionData.filter(
        (el) =>
          el.moduleId > obj.id &&
          el.hasOwnProperty("entityId") &&
          el.moduleId != 1 &&
          el.moduleId != 2
      );
      if (checkArr.length > 0) {
        this.warningMessage = true;
      } else {
        this.warningMessage = false;
      }
      this.moduleSelected.name = obj.name;
      if (this.studyProps.template == "Standalone") {
        this.moduleSelected.id = obj.moduleId;
      } else {
        this.moduleSelected.id = obj.id;
      }
      this.creatingFormInUse = true;
    },
  },
};
</script>