<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <div class="bg projectSingle-desc">
      <div class="projectSingle-item">
        <h2>Project:</h2>
        <span>{{ project.name }}</span>
      </div>

      <div class="projectSingle-item">
        <h2>Technology:</h2>
        <span>{{ project.technology }}</span>
      </div>

      <!-- <div class="projectSingle-item">
        <h2>Type of device:</h2>
        <span>{{ project.typeOfDevice }}</span>
      </div> -->
      <div class="projectSingle-item">
        <el-button @click="drawer = true" type="primary" icon="el-icon-info"
          >information</el-button
        >
      </div>
      <el-drawer title="Project information" :visible.sync="drawer">
        <div class="drawer-wrapper">
          <div style="margin: 0 0 32px 0">
            <h1 style="margin: 0 12px 0 0; display: inline-block">
              {{ project.name }}
            </h1>
            <br />
            <img
              class="drawer-logo"
              v-if="project.logo != ''"
              :src="project.logo"
              style="width: 100%"
            />
          </div>

          <div class="main__list">
            <div v-if="project.description" class="main__list-item">
              <b>Project summary:</b>
            </div>
            <div class="main__list-item">
              {{ project.description }}
            </div>

            <div class="main__list-item">
              <b>Technology:</b> {{ project.technology }}
            </div>
            <!-- <div class="main__list-item">
              <b>Type of device:</b> {{ project.typeOfDevice }}
            </div> -->
            <div class="main__list-item"></div>
          </div>
        </div>
      </el-drawer>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import getProject from "@/services/getProject";

export default {
  props: {
    projectId: {
      type: Number,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      project: {},
      drawer: false,
    };
  },
  methods: {
    async getProject(id) {
      this.project = await getProject(id);
    },
  },
  async mounted() {
    await this.getProject(this.projectId);
  },
};
</script>

<style lang="scss">
.main__list-item {
  font-size: 14px;
  line-height: 1;
  b {
    font-weight: bold;
  }
  &:not(:last-child) {
    margin: 0 0 12px 0;
  }
}
.projectSingle {
  &-cards {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &-wrap {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  &-desc {
    background: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding-top: 0;
    h2,
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    span {
      font-size: 16px;
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }
}

.drawer-wrapper {
  padding: 20px;
}
.drawer-logo {
  max-width: 200px;
  margin: 15px 0;
}
.mt0 {
  margin-top: 5px !important;
}
</style>
