<template>
  <div>
    <el-dialog
      :title="'Digital Representations for study - ' + drShowStudy.name"
      :visible="drShowStudyDialog"
      width="1200px"
      :close-on-click-modal="false"
      @close="closeDialog"
      @open="showDigitalRep"
    >
      <h3 v-if="drShow.length == 0">Please generate DR</h3>
      <div v-else>
        <TableSimple
          :tableData="drShow"
          :tableHeader="tableHeader"
          :operationsWidth="130"
        >
          <template v-slot:btns="{ props }">
            <div class="button-wrapper">
              <el-button
                size="mini"
                type="primary"
                icon="el-icon-download"
                @click="downloadDr(props)"
                >Download</el-button
              >
            </div>
          </template>
        </TableSimple>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog" size="mini">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import getDigitalrepsByStudyId from "@/services/getDigitalrepsByStudyId";
import TableSimple from "@/components/TableSimple/TableSimple";

export default {
  props: {
    drShowStudyDialog: {
      type: Boolean,
      required: false,
      default: false,
    },
    drShowStudy: {
      type: Object,
      required: false,
      default: false,
    },
  },
  components: {
    TableSimple,
  },
  data() {
    return {
      drShow: [],
      tableHeader: {
        id: true,
        name: true,
        createdAt: true,
        description: true,
      },
    };
  },
  async mounted() {},
  methods: {
    async downloadDr(row) {
      let json = row.data;

      json = [json];
      let blob = new Blob(json, { type: "text/plain;charset=utf-8" });
      let url = window.URL || window.webkitURL;
      let link = url.createObjectURL(blob);
      let a = document.createElement("a");
      a.download = `${row.name}.json`;
      a.href = link;
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    },
    async showDigitalRep() {
      try {
        this.drShow = [];
        const drShow = await getDigitalrepsByStudyId(this.drShowStudy.id);
        if (drShow.length > 0) {
          this.drShow = drShow;
        }
      } catch (err) {
        this.$notify({
          title: "Error",
          message: `${err}`,
          type: "error",
        });
      }
    },
    closeDialog() {
      this.$emit("update:drShowStudyDialog", false);
    },
  },
};
</script>
<style lang="scss" scoped>
</style>