<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <div class="study-header">
      <!-- <h3 v-if="template == 'Standalone'">Standalone</h3>
      <h3 v-else>Design & Assessment</h3> -->
      <h3>Studies</h3>
      <el-button
        :disabled="disableCreatingBnt && template != 'Standalone'"
        type="success"
        @click.native.prevent="
          actionStudy = 'create';
          creatingFormInUse = true;
        "
        >{{
          template == "Standalone"
            ? "Create New Standalone Study"
            : "Create New Design & Assessment Study"
        }}</el-button
      >
    </div>
    <div class="table-data">
      <Table
        :tableData="tableData"
        :tableHeader="tableHeader"
        :filterWhereCopy="filterWhereCopy"
        :loading="loading"
        :defaultSort="defaultSort"
        @change-order-items="changeOrderItems"
        @filter-data="filterData"
        @reset-filter-data="resetFilterData"
      >
        <template v-slot:btns="{ props }">
          <div class="button-wrapper">
            <el-button size="mini" @click="selectStudy(props)">
              <span>Open</span>
            </el-button>
            <el-button
              type="primary"
              size="mini"
              @click="editStudyConfirm(props)"
            >
              Edit</el-button
            >
            <el-button
              :loading="loadingDeletingConfirmBtn"
              type="danger"
              size="mini"
              @click="deleteStudyConfirm(props)"
              >Delete</el-button
            >
          </div>
        </template>
      </Table>
    </div>
    <div class="table-navi">
      <Pagination
        :total="studiesCount"
        :pageSize="filter.limit"
        :currPage="currPage"
        @current-change="changePage"
      />
      <PerPage :filterLimit.sync="filter.limit" :perPageCounts="[10, 20, 50]" />
    </div>
    <!-- delete study -->
    <el-dialog
      :title="'The study - ' + removingStudy.name"
      :visible.sync="removingStudyDialog"
      width="350px"
      :close-on-click-modal="false"
    >
      <el-form label-width="120px">
        <p style="margin-top: -20px; line-height: 21px; margin-bottom: 20px">
          Are you sure what you want to delete the study including:
        </p>

        <div style="display: flex; align-items: center; margin-bottom: 20px">
          <h3 style="margin: 5px 10px 5px 0">{{ removingEntitiesCount }}</h3>
          Entities
        </div>

        <el-button
          :loading="loadingDeletingStudyBtn"
          type="danger"
          size="mini"
          @click="deleteStudy"
          >Delete</el-button
        >
      </el-form>
    </el-dialog>

    <FormStudy
      :creatingFormInUse.sync="creatingFormInUse"
      :studyProps="editingStudy"
      :defaultEntities="defaultEntities"
      :actionStudy="actionStudy"
      :template="template"
      @edited-study="editedStudy"
      @created-new-study="createdStudy"
    />
  </div>
</template>

<script>
/* eslint-disable */
import getCountEntitiesInStudy from "@/services/getCountEntitiesInStudy";
import deleteEntity from "@/services/deleteEntity";
import deleteStudy from "@/services/deleteStudy";
import checkEntityFork from "@/services/checkEntityFork";
import getAllEntitiesByStudy from "@/services/getAllEntitiesByStudy";

import FormStudy from "./FormStudy";
import { getModulesList, deleteEntityInModule } from "../common/services";
import { mapGetters } from "vuex";

import Table from "@/components/Table/Table.vue";
import Pagination from "@/components/Pagination/Pagination.vue";
import PerPage from "@/components/PerPage/PerPage.vue";

import {
  StudiesFilterTableFabric,
  StudiesFilterTableWhereFabric,
} from "@/api/filterTable";
import getPaginateStudies from "@/services/getPaginateStudies";

const studiesFilterTableFabric = new StudiesFilterTableFabric();
const studiesFilterTableWhereFabric = new StudiesFilterTableWhereFabric();

export default {
  props: {
    defaultEntities: {
      type: Array,
      required: false,
      default: [],
    },
    selectedStudy: {
      type: Number,
      required: false,
    },
    template: {
      type: String,
      default: "Standalone",
    },
    disableCreatingBnt: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    FormStudy,
    Table,
    Pagination,
    PerPage,
  },
  data() {
    return {
      // table
      tableData: [],
      tableHeader: {
        // id: true,
        name: true,
        description: true,
        createdAt: true,
      },
      loading: true,
      studiesCount: 0,
      filterWhereCopy:
        studiesFilterTableWhereFabric.createFilterTableWhereFromQuery(),
      filter: studiesFilterTableFabric.createFilterTableFromQuery(),
      defaultSort: {
        prop: this.$route.query.order
          ? this.$route.query.order.split(" ")[0]
          : "",
        order: this.$route.query.order
          ? this.$route.query.order.split(" ")[1] === `DESC`
            ? `descending`
            : `ascending`
          : "",
      },
      // table
      loadingDeletingConfirmBtn: false,
      loadingDeletingStudyBtn: false,
      editingStudy: {
        name: "",
        template: "",
        description: "",
      },
      actionStudy: "",
      creatingFormInUse: false,
      listModules: [],
      removingEntitiesCount: null,
      removingStudyDialog: false,
      removingStudy: {
        id: null,
        name: "",
      },
    };
  },

  async mounted() {
    this.listModules = getModulesList();
    await this.getPaginateStudies();
  },
  computed: {
    currPage() {
      return parseInt(this.filter.offset / this.filter.limit) + 1;
    },
    queryObj() {
      let filterCopy = JSON.parse(JSON.stringify(this.filter));
      delete filterCopy.offset;
      return {
        ...filterCopy,
        currPage: this.currPage,
      };
    },
    ...mapGetters(["studySettings", "currentUser"]),
  },
  watch: {
    "filter.limit": ["resetPagination"],
    "filter.offset": ["loadStudies"],
    "filter.order": ["resetPagination"],
    "filter.where": ["resetPagination"],
    tableData: ["removeLoadingState"],
    filter: {
      handler: "updateQueryParams",
      deep: true,
    },
    template: ["resetPagination"],
  },

  methods: {
    //table
    async getPaginateStudies() {
      const paginateStudies = await getPaginateStudies(
        +this.$route.params.id,
        this.template,
        this.filter
      );
      this.studiesCount = paginateStudies.studiesCount;
      this.tableData = paginateStudies.studies;
    },
    async loadStudies() {
      this.setLoadingState();
      await this.getPaginateStudies();
    },
    filterData() {
      for (let prop in this.filterWhereCopy) {
        if (this.filterWhereCopy[prop] == "")
          this.filterWhereCopy[prop] = undefined;
      }
      this.filter.where ==
        this.$set(
          this.filter,
          "where",
          JSON.parse(JSON.stringify(this.filterWhereCopy))
        );
    },
    resetFilterData() {
      for (let prop in this.filterWhereCopy) {
        this.filterWhereCopy[prop] = undefined;
      }
      this.filter.where ==
        this.$set(
          this.filter,
          "where",
          JSON.parse(JSON.stringify(this.filterWhereCopy))
        );
    },
    changePage(goToPage) {
      this.filter.offset = (goToPage - 1) * this.filter.limit;
    },
    changeOrderItems({ prop, order }) {
      this.filter.order =
        order === null
          ? ""
          : order === `descending`
          ? `${prop} DESC`
          : `${prop} ASC`;
    },
    updateQueryParams() {
      // this.$router.replace({
      //   query: this.queryObj,
      // });
    },
    setLoadingState() {
      this.loading = true;
    },
    removeLoadingState() {
      this.loading = false;
    },
    resetPagination() {
      if (this.filter.offset === 0) return this.loadStudies();
      this.filter.offset = 0;
      this.filter.order = null;
    },
    //table
    editStudyConfirm(props) {
      this.editingStudy = { ...this.editingStudy, ...props };
      this.actionStudy = "edit";
      this.creatingFormInUse = true;
    },
    async deleteStudyConfirm(props) {
      this.removingStudy = { ...{ id: props.id }, ...{ name: props.name } };
      // this.loadingDeletingConfirmBtn = true;
      try {
        const removingEntitiesCount = await getCountEntitiesInStudy(props.id);
        // this.removingEntitiesCount = removingEntitiesCount;
        this.removingEntitiesCount =
          props.template != "Standalone"
            ? removingEntitiesCount - 2
            : removingEntitiesCount;
      } catch (e) {
        this.$notify({
          title: "error",
          message: `Error. ${e.response.data.error.message}`,
          type: "error",
        });
      } finally {
        // this.loadingDeletingConfirmBtn = false;
        this.removingStudyDialog = true;
      }
    },
    async editedStudy() {
      await this.getPaginateStudies();
    },
    async createdStudy(newStudy) {
      this.$emit("select-study", newStudy);
    },
    async deleteStudy() {
      // if (this.template == "Standalone") {
      const entities = await getAllEntitiesByStudy(this.removingStudy.id);
      const moduleIdList = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]; //we do not remove existing SC and MC
      const fullListModules = getModulesList();
      const loopRemoveEntitiesInModulesWithForkCheck = async () => {
        for (let i = 0; i < entities.data.length; i++) {
          if (entities.data[i].entityId != null) {
            if (moduleIdList.includes(entities.data[i].moduleId)) {
              var moduleData = fullListModules.filter(
                (el) => el.id == entities.data[i].moduleId
              );
              const entitiesFork = await checkEntityFork(
                moduleData[0].nickname,
                entities.data[i].entityId
              );
              const countEntitiesFork = entitiesFork.data.filter(
                (el) =>
                  el.entityId == entities.data[i].entityId &&
                  el.moduleId == entities.data[i].moduleId &&
                  el.projectId == this.$route.params.id
              );
              if (
                countEntitiesFork.length == 1 &&
                entities.data[i].entityId != null
              ) {
                try {
                  await deleteEntityInModule(
                    moduleData[0].name,
                    entities.data[i].entityId
                  );
                } catch (err) {}
              }
            }
          }
          await deleteEntity(entities.data[i].id);
        }
      };
      await loopRemoveEntitiesInModulesWithForkCheck();
      await deleteStudy(this.removingStudy.id);
      this.$emit("delete-study", this.removingStudy.id);
      await this.resetPagination();
      this.removingStudyDialog = false;
    },
    selectStudy(obj) {
      this.$emit("select-study", obj);
    },
  },
};
</script>

<style lang="scss">
.study-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
