<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <el-dialog
      title="Login"
      :visible="dialogVisible"
      :close-on-click-modal="false"
      width="375px"
      @close="closeDialog"
      center
    >
      <el-form :model="formData" :rules="rules" ref="formData">
        <el-form-item class="form__row" prop="email">
          <div class="form__row-title">Email</div>
          <el-input data-cy-mm="email-input" class="form__row-input" v-model="formData.email"></el-input>
        </el-form-item>

        <el-form-item class="form__row" prop="password">
          <div class="form__row-title">Password</div>
          <el-input
            class="form__row-input"
            v-model="formData.password"
            type="password"
            v-on:keyup.native.enter="submit('formData')"
            data-cy-mm="password-input"
          ></el-input>
        </el-form-item>

        <el-form-item class="form__row" v-if="errorMessage">
          <el-alert
            :title="errorMessage"
            :closable="false"
            type="error"
            data-cy-mm="formError"
          ></el-alert>
        </el-form-item>

        <el-form-item class="form__row">
          <el-button data-cy-mm="login-btn" @click.prevent="submit('formData')">Login</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
/* eslint-disable */
import cookie from "js-cookie";
import auth from "@/services/auth";
import getUserRole from "@/services/getUserRole";
import { getToken } from "@/api/token";
import { LOGIN } from "@/store/actions.type";

export default {
  name: "TheLogin",

  props: {
    dialogVisible: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      email: "",
      formData: {
        email: "",
        password: "",
      },
      rules: {
        email: [
          {
            required: true,
            message: "Email is required",
            trigger: "blur",
          },
          {
            type: "email",
            message: "Please input correct email address",
            trigger: ["blur", "change"],
          },
        ],
        password: [
          {
            required: true,
            message: "Password is required",
            trigger: "blur",
          },
          {
            min: 8,
            message: "Password must have at least 8 symbols",
            trigger: "blur",
          },
        ],
      },
      responseCode: null,
      errorMessage: "",
    };
  },

  computed: {},

  methods: {
    closeDialog() {
      this.$emit("update:dialogVisible", false);
    },
    async submit(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        try {
          let user = await auth(this.formData);
          if (user.data.length == 0) {
            this.errorMessage = "Wrong login or email";
            return false;
          } else {
            this.errorMessage = "";
            const roleId = await getUserRole(user.data[0].id);
            if (roleId) {
              const role = roleId.data[0].roleId == 1 ? "admin" : "user";
              user.data[0].role = role;
              const token = getToken(
                this.formData.email,
                this.formData.password
              );
              cookie.set("accessToken", token);
              await this.$store.dispatch(LOGIN, user.data[0]);
              this.$emit("login");
            } else {
              this.errorMessage = "Server Error";
              return false;
            }
          }
        } catch (e) {
          this.$notify({
            title: "Error",
            message: `${e}`,
            type: "error",
          });
        } finally {
        }
      } else {
        return false;
      }
    },
  },
};
</script>

<style lang="scss">
</style>
