<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="table-wrapper">
    <div class="section-header">
      <h1>Projects</h1>
      <el-button data-cy-mm="create-project-popup-btn" type="success" @click="createProjectConfirm('formProject')"
        >Create New Project</el-button
      >
    </div>
    <div class="table-data">
      <Table
        :tableData="tableData"
        :tableHeader="tableHeader"
        :filterWhereCopy="filterWhereCopy"
        :loading="loading"
        :defaultSort="defaultSort"
        @change-order-items="changeOrderItems"
        @filter-data="filterData"
        @reset-filter-data="resetFilterData"
      >
        <template v-slot:btns="{ props }">
          <div class="button-wrapper">
            <el-button
              type="success"
              size="mini"
              @click="goToSingleProjects(props.id)"
            >
              View</el-button
            >
            <el-button
              type="primary"
              size="mini"
              @click="editProjectConfirm(props)"
            >
              Edit</el-button
            >
            <el-button
              type="danger"
              size="mini"
              @click="deleteProjectConfirm(props)"
              data-cy-mm="delete-project-popup-btn"
              >Delete</el-button
            >
          </div>
        </template>
      </Table>
    </div>
    <div class="table-navi">
      <Pagination
        :total="projectsCount"
        :pageSize="filter.limit"
        :currPage="currPage"
        @current-change="changePage"
      />
      <PerPage :filterLimit.sync="filter.limit" :perPageCounts="[10, 20, 50]" />
    </div>
    <!-- create-edit project form -->
    <el-dialog
      :title="actionProject == 'create' ? 'Create Project' : 'Edit Project'"
      :visible.sync="creatingFormInUse"
      width="500px"
      :close-on-click-modal="false"
    >
      <el-form
        :model="formProject"
        ref="formProject"
        width="500px"
        :rules="rules"
      >
        <el-form-item label="Avatar">
          <el-upload
            class="avatar-uploader"
            action="#"
            :show-file-list="false"
            :before-upload="beforeAvatarUpload"
            :http-request="uploaderLogo"
          >
            <img
              v-if="formProject.logo"
              :src="formProject.logo"
              class="avatar"
            />
            <div v-else>
              <i class="el-icon-plus avatar-uploader-icon"></i>
              <div style="text-align: center">
                <span>Set project logo</span>
              </div>
            </div>
          </el-upload>
        </el-form-item>
        <el-form-item label="Project name" prop="name">
          <el-input data-cy-mm="name-input" v-model="formProject.name" />
        </el-form-item>
        <el-form-item v-if="actionProject === 'create'" label="Technology">
          <el-radio v-model="formProject.technology" label="Wave"
            >Wave</el-radio
          >
          <el-radio v-model="formProject.technology" label="Tidal"
            >Tidal</el-radio
          >
        </el-form-item>
        <el-form-item label="Description">
          <el-input
            data-cy-mm="description-input"
            type="textarea"
            v-model="formProject.description"
            :rows="6"
          >
          </el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="creatingFormInUse = false">Cancel</el-button>
        <el-button
          v-if="actionProject === 'create'"
          type="primary"
          :loading="loadingCreatingProjectBtn"
          @click="createProject('formProject')"
          data-cy-mm="create-project-input"
          >Create</el-button
        >
        <el-button
          v-if="actionProject === 'edit'"
          type="primary"
          :loading="loadingEditingProjectBtn"
          @click="editProject('formProject')"
          >Edit</el-button
        >
      </span>
    </el-dialog>

    <!-- delete project -->
    <el-dialog
      :title="'Delete project &quot;' + removingProject.name + '&quot;?'"
      :visible.sync="removingProjectDialog"
      width="350px"
      :close-on-click-modal="false"
    >
      <el-form label-width="120px">
        <p style="margin-top: -20px; line-height: 21px; margin-bottom: 20px">
          Are you sure what you want to delete the project including:
        </p>

        <div style="display: flex; align-items: center">
          <h3 style="margin: 5px 10px 5px 0">{{ removingStudiesCount }}</h3>
          Studies
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 20px">
          <h3 style="margin: 5px 10px 5px 0">{{ removingEntitiesCount }}</h3>
          Entities
        </div>

        <el-button
          :loading="loadingDeletingProjectBtn"
          type="danger"
          size="mini"
          @click="deleteProjectBtn"
          data-cy-mm="delete-project-btn"
          >Delete</el-button
        >
      </el-form>
    </el-dialog>
  </div>
</template>

<script src="./Projects.js"></script>
<style lang="scss" src="./Projects.scss" scoped></style>

