:root {
	--color-dark-blue: #022c5f;
	--color-grey: #e2ebf0;
	--color-blue: #39d2ff;
}

body {
	background-color: var(--color-grey);
}
h1 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}
.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.projectSingle-tabs {
	margin-top: 25px;
	.el-tabs__item {
		font-family: "Rajdhani", sans-serif !important;
		font-weight: bold !important;
		font-size: 24px !important;
		padding: 5px 20px;
		height: 50px;
		// margin-top: 15px !important;
		// margin-bottom: 20px !important;
	}
	.is-active {
		color: var(--color-dark-blue) !important;
	}
	.is-disabled {
		opacity: 0.3;
		cursor: not-allowed;
		font-weight: 200;
	}
}
h2 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}

h3 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}

h4 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	font-size: 16px;
}

.app__main {
	flex: 1 !important;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding-top: 30px;
}

.page-wrapper {
	padding: 20px;
}

.section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.el-drawer,
.el-drawer * {
	outline: none !important;
}

.el-table__fixed-right::before,
.el-table__fixed::before {
	display: none;
}
.form-btn {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	margin-bottom: -40px;
}

.comparisonBadge {
	.el-badge__content {
		top: 6px !important;
		right: 4px !important;
	}
}

.modules-wrapper .el-collapse-item__header{
	font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--color-dark-blue);
}

.modules-wrapper  .el-collapse-item__wrap{
	border-bottom: unset;
}

.table-navi{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
	border-color: #409eff;
  }
  .avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 178px;
	height: 150px;
	line-height: 178px;
	text-align: center;
  }
  .avatar-uploader-icon:before {
	line-height: 178px;
  }
  .avatar {
	width: 178px;
	height: 178px;
	display: block;
	object-fit: cover;
  }