<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-container>
    <el-row>
      <main>
        <div id="js-app" class="js-app"></div>
        <div class="main-logo flex line line--vertical">
          <img alt="logo" src="../../assets/DTOcean_Logo_Fond_Simple.png" />
        </div>

        <div class="main-login line flex line--vertical">
          <a
            v-if="!isAuthenticated"
            class="btn btn-login"
            @click="dialogVisible = true"
            data-cy-mm="login-popup-btn"
            >Login</a
          >
          <router-link v-else class="btn btn-login" to="/dashboard"
            >Dashboard</router-link
          >
        </div>

        <div class="main-modules flex line line--horizontal">
          <h3>
            PROVIDING ADVANCED DESIGN TOOLS<br />
            <b>FOR OCEAN ENERGY SYSTEMS</b> INNOVATION, DEVELOPMENT AND
            DEPLOYMENT
          </h3>
          <ul>
            <li>
              <h3>SI</h3>
              <span>Structured Innovation</span>
            </li>
            <li>
              <h3>SG</h3>
              <span>Stage Gate</span>
            </li>

            <li>
              <h3>SC</h3>
              <span>Site Characterisation</span>
            </li>

            <li>
              <h3>MC</h3>
              <span>Machine Characterisation</span>
            </li>

            <li>
              <h3>EC</h3>
              <span>Energy Capture</span>
            </li>

            <li>
              <h3>ET</h3>
              <span>Energy Transformation</span>
            </li>
            <li>
              <h3>ED</h3>
              <span>Energy Delivery</span>
            </li>

            <li>
              <h3>SK</h3>
              <span>Station Keeping</span>
            </li>
            <li>
              <h3>LMO</h3>
              <span>Logistics and Marine Operation</span>
            </li>
            <li>
              <h3>SPEY</h3>
              <span>System Performance and Energy Yield</span>
            </li>
            <li>
              <h3>RAMS</h3>
              <span
                >Reliability, Availability, Maintainability, Survivability</span
              >
            </li>
            <li>
              <h3>SLC</h3>
              <span>System Lifetime Costs</span>
            </li>
            <li>
              <h3>ESA</h3>
              <span>Environmental and Social Acceptance</span>
            </li>
            <li>
              <h3>CM</h3>
              <span>Catalog module</span>
            </li>
            <li class="big-size">
              <a
                href="https://wave-energy-scotland.gitlab.io/dtoceanplus/dtop_documentation/"
                target="_blank"
              >
                Documentation</a
              >
            </li>
          </ul>
        </div>
      </main>
    </el-row>
    <TheLogin :dialogVisible.sync="dialogVisible" @login="login" />
  </el-container>
</template>

<script src="./index.js"></script>

<style lang="scss" src="./style.scss" scoped></style>
