:root {
	--color-line: #a3a6aa;
	--color-blue: #31b4da;
	--color-dark-blue: #022c5f;
	--color-light-blue: #39d2ff;
	--color-grey: #ecf1f5;
}
* {
	box-sizing: border-box;
}
main {
	overflow: hidden;
	height: 100vh;
	display: grid;
	background: #022c5f;
	// grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-template-columns: auto auto auto;
	// grid-template-rows: 1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-auto-columns: auto;
	grid-template-areas:
		"logo links login"
		"content content content"
		"modules modules modules";
	position: relative;
	#js-app {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	div:not(.js-app) {
		position: relative;
		z-index: 2;
	}
}

.main {
	&-logo {
		grid-area: logo;
		padding: 30px;
		img {
			width: 100%;
			max-width: 150px;
		}
	}
	&-links {
		grid-area: links;
		ul {
			display: flex;
			li {
				margin: 0px 7px;
				svg {
					width: 20px;
				}
			}
		}
	}
	&-login {
		padding: 30px;
		grid-area: login;
		justify-self: end;
		a {
			display: inline-block;
			background-color: rgba($color: #fff, $alpha: 0.7);
			padding: 19px 78px;
			color: #fff;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;
		}
	}
	&-modules {
		grid-area: modules;
		align-self: end;
		padding: 30px;
		h3 {
			font-size: 37px;
			color: #fff;
			// max-width: 80%;
			margin-bottom: 15px;
			font-family: "Rajdhani", sans-serif;
			b {
				font-weight: bold;
			}
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			li {
				background-color: rgba($color: #fff, $alpha: 0.4);
				width: 190px;
				height: 87px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				padding-left: 21px;
				padding-top: 20px;
				margin-right: 10px;
				margin-bottom: 10px;

				a {
					text-decoration: none;
					color: #fff;
					letter-spacing: -2px;
					font-size: 42px;
					font-weight: 600;
					font-family: "Rajdhani", sans-serif;
				}
				h3{
					margin: 0;
				}
				span {
					color: #fff;
					font-size: 10px;
					display: block;
					margin-top: 1px;
					line-height: 12px;
					padding-left: 3px;
				}
				margin-right: 15px;
				margin-bottom: 15px;
			}
			.big-size{
				width: 395px;
			}
		}
	}
}
