// This is the Main Module for the DTOceanPlus suite of Tools.
// It is the main entry point to create and manage projects.
// Copyright (C) 2021 OPEN CASCADE
//
// This program is free software: you can redistribute it and/or modify it
// under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

.top-navi {
	display: flex;
	align-items: center;
	justify-content: space-between;
	h4 {
		display: flex;
		align-items: center;
	}
	p {
		font-family: "Open Sans";
		font-size: 17px;
		color: black;
		// display: flex;
		// align-items: center;
		margin:0 10px;
		span {
			font-weight: 400;
		}
	}
}
.cards {
	// padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.studies {
	&-section {
		// padding-top: 50px;
	}
	&-header {
		display: flex;
		align-items: flex-end;
		h2 {
			margin-right: 40px;
		}
	}
}
.line {
	width: 100%;
	height: 2px;
	background-color: #409eff;
}

.el-select {
	width: 100%;
}
.bg {
	border-radius: 4px;
	background: #ffffff;
	padding: 24px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
}
.main__image {
	width: 128px;
	margin: 0 auto 36px auto;
	display: block;
}
.main__list-item {
	font-size: 14px;
	line-height: 1;
	b {
		font-weight: bold;
	}
	&:not(:last-child) {
		margin: 0 0 12px 0;
	}
}
.main__list-link {
	color: #000;
	text-decoration: underline !important;
}
.main__list-link-description {
	margin: 8px 0 0 0;
}

.link {
	color: #409eff !important;
	text-decoration: underline !important;
}
.el-form-item h3 {
	margin-top: 12px !important;
	margin-bottom: 0px !important;
}

.el-card {
	background-color: #ecf1f5;
	cursor: pointer;
	height: 95px;
	width: 50%;
	&__wrapper {
		width: 100%;
		height: 110px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		b {
			font-weight: bold;
		}
	}
	&__entity {
		margin-top: 0px;
		padding-left: 30px;
		p {
			&:first-child {
				margin-top: 0;
			}
		}
	}
	&__title {
		display: flex;
		align-items: center;
		span {
			display: inline-block;
			margin-bottom: 16px;
			margin-left: 15px;
			font-weight: bold;
		}
	}
}
.el-card__body {
	width: calc(100% - 40px) !important;
	height: calc(100% - 20px) !important;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 20px 20px 0px;
	h3 {
		margin: 0 0 16px 0;
	}
}
.activeCard {
	background-color: #022c5f;
	color: #ffffff;
	h3,
	p {
		color: #ffffff;
	}
	.pulse {
		transition: all 0.3s;
		animation: incomingPulse 1.7s infinite;
		@keyframes incomingPulse {
			0% {
				font-weight: normal;
			}
			50% {
				font-weight: bold;
			}
			100% {
				font-weight: normal;
			}
		}
	}
}

.card {
	&-icon {
		height: 110px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		padding-left: 10px;
		padding-right: 10px;
		i {
			font-size: 25px;
		}
	}
}
.projectSingle {
	&-cards {
		margin-bottom: 0;
		padding-bottom: 0;
		padding: 0;
	}
	&-wrap {
		display: flex;
		align-items: stretch;
		width: 100%;
	}
	&-desc {
		background: transparent;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		margin: 0;
		padding-top: 0;
		h2,
		h3 {
			margin-top: 0;
			margin-bottom: 20px;
		}
		span {
			font-size: 16px;
		}
	}

	&-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: 100%;
	}
}

.drawer-wrapper {
	padding: 20px;
}
.drawer-logo {
	max-width: 200px;
	margin: 15px 0;
}
.mt0 {
	margin-top: 5px !important;
}

.modules-wrapper {
	margin-top: 35px;
}
