<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <ProjectInformation :projectId="+this.$route.params.id" />
    <el-tabs
      class="projectSingle-tabs"
      type="border-card"
      v-model="tabs"
      @tab-click="tabClick"
    >
      <el-tab-pane class="text" name="users" label="Users">
        <h3>Manage Users in projects</h3>
        <ManageUsersInProject
          v-if="tabs == 'users'"
          :projectId="+this.$route.params.id"
        />
      </el-tab-pane>

      <el-tab-pane name="Standalone" label="Standalone">
        <div class="top-navi" v-if="currentComponentStudies === 'module'">
          <h4>
            Selected study:
            <p>
              id: <span>{{ selectedStudy.id }}</span>
            </p>
            <p>
              name: <span>{{ selectedStudy.name }}</span>
            </p>
            <el-button type="success" plain @click="compareStudy(selectedStudy.id)" :disabled="comparingStudiesIds.some(el => el == selectedStudy.id)">
              Compare
            </el-button>
          </h4>
          <div>
            <el-button
              @click="currentComponentStudies = 'study'"
              type="primary"
              icon="el-icon-arrow-left"
              >Studies</el-button
            >
            <el-button type="info" @click="drStudyDialog = true">
              Create DR
            </el-button>
            <el-button type="success" @click="drShowStudyDialog = true">
              Show DR
            </el-button>
          </div>
        </div>

        <transition name="component-fade">
          <component
            v-if="tabs == 'Standalone'"
            :is="currentComponentStudies"
            v-bind="currentPropertiesStudies"
            @select-study="selectStudy"
          ></component>
        </transition>
      </el-tab-pane>

      <el-tab-pane name="Design and assessment" label="Design & Assessment">
        <!-- SC & MC-->
        <div class="modules-wrapper">
          <el-collapse v-model="activeNames">
            <el-collapse-item title="SC & MC required modules" name="req">
              <TableSimple
                :tableData="moduleReqData"
                :tableHeader="moduleReqHeader"
                :operationsWidth="240"
              >
                <template v-slot:btns="{ props }">
                  <div v-if="props.entityName" class="button-wrapper">
                    <el-button
                      size="mini"
                      @click="openSingleEntity(props.name, props.entityId)"
                    >
                      Open</el-button
                    >
                  </div>
                  <div v-else class="button-wrapper">
                    <el-button
                      type="warning"
                      size="mini"
                      @click="selectEntityInModule(props)"
                    >
                      Select</el-button
                    >
                    <el-button
                      type="success"
                      size="mini"
                      @click="createEntity(props)"
                    >
                      Create</el-button
                    >
                  </div>
                </template>
              </TableSimple>
            </el-collapse-item>
          </el-collapse>
        </div>

        <div class="top-navi" v-if="currentComponentStudies === 'module'">
          <h4>
            Selected study:
            <p>
              id: <span>{{ selectedStudy.id }}</span>
            </p>
            <p>
              name: <span>{{ selectedStudy.name }}</span>
            </p>
            <p>
              <el-button type="success" plain @click="compareStudy(selectedStudy.id)" :disabled="comparingStudiesIds.some(el => el == selectedStudy.id)">
                Compare
              </el-button>
            </p>
          </h4>
          <div>
            <el-button
              @click="currentComponentStudies = 'study'"
              type="primary"
              icon="el-icon-arrow-left"
              >Studies</el-button
            >
            <el-button type="info" @click="drStudyDialog = true">
              Create DR
            </el-button>
            <el-button type="success" @click="drShowStudyDialog = true">
              Show DR
            </el-button>
            <el-button type="warning" @click="forkStudyDialog = true">
              Fork this study
            </el-button>
          </div>
        </div>
        <transition name="component-fade">
          <component
            v-if="tabs == 'Design and assessment'"
            :is="currentComponentStudies"
            v-bind="currentPropertiesStudies"
            @select-study="selectStudy"
          ></component>
        </transition>
      </el-tab-pane>

      <el-tab-pane
        name="comparisonStudies"
        class="text"
        label="Comparison Studies"
        :disabled="comparingStudiesIds.length == 0"
      >
        <span slot="label"
          ><el-badge
            :value="comparingStudiesIds.length"
            type="primary"
            class="comparisonBadge item"
            >Studies Comparison</el-badge
          ></span
        >
        <ComparisonStudies
          v-if="tabs == 'comparisonStudies'"
          :comparingStudiesIds.sync="comparingStudiesIds"
        />
      </el-tab-pane>
    </el-tabs>
    <CreateEntity
      :creatingFormInUse.sync="creatingNewEntityFormInUse"
      :studyProps="defaultStudy"
      :moduleProps="creatingNewModule"
      @create-new-entity="createdEntity"
    />
    <ForkStudy
      :forkStudyDialog.sync="forkStudyDialog"
      :forkingStudy="selectedStudy"
    />
    <ShowDRStudy
      :drShowStudyDialog.sync="drShowStudyDialog"
      :drShowStudy="selectedStudy"
    />
    <DRStudy :drStudyDialog.sync="drStudyDialog" :drStudy="selectedStudy" />
    <el-dialog
      :title="
        this.selectingModule == 'SC'
          ? 'Select site'
          : this.selectingModule == 'MC'
          ? 'Select machine'
          : ''
      "
      :visible.sync="selectingModuleDialog"
      :close-on-click-modal="false"
      width="1300px"
    >
      <TableSimple
        :tableData="moduleEntites"
        :tableHeader="moduleEntitesHeaders"
      >
        <template v-slot:btns="{ props }">
          <div class="button-wrapper">
            <el-button
              size="mini"
              @click="openSingleEntity(selectingModule, props.id)"
            >
              Open</el-button
            >
            <el-button
              type="warning"
              size="mini"
              @click="selectExistingEntity(props)"
            >
              Select</el-button
            >
            <el-button
              type="danger"
              size="mini"
              @click="deleteSingleEntity(selectingModule, props.id)"
            >
              Delete</el-button
            >
          </div>
        </template>
      </TableSimple>
      <span slot="footer" class="dialog-footer">
        <el-button @click="selectingModuleDialog = false">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script src="./ProjectSingle.js"></script>

<style lang="scss" src="./ProjectSingle.scss" scoped></style>
