<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="dataReady">
    <el-form
      label-width="180px"
      :model="formEntity"
      ref="formEntity"
      :rules="rules"
    >
      <el-form-item label="Project Title" prop="title">
        <el-input
          v-model="formEntity.title"
          placeholder="add a project unique title"
          data-cy="projectTitle"
        />
      </el-form-item>
      <el-form-item label="Tags" prop="tags">
        <el-input
          v-model="formEntity.tags"
          placeholder="add a project tag"
          data-cy="projectTags"
        />
      </el-form-item>
      <el-form-item label="Project Complexity" prop="complexity">
        <el-select
          v-model="formEntity.complexity"
          placeholder="Complexity Level"
          data-cy="projectComplexity"
          :disabled="complexitySelectDisable"
        >
          <el-option label="1" value="1" />
          <el-option label="2" value="2" />
          <el-option label="3" value="3" />
        </el-select>
      </el-form-item>
      <el-form-item label="Machine type" prop="type">
        <el-input
          v-model="formEntity.type"
          placeholder="Machine Type"
          data-cy="projectMachineType"
          :disabled="typeSelectDisable"
        />
      </el-form-item>
      <el-form-item label="Project Description" prop="desc">
        <el-input
          v-model="formEntity.desc"
          placeholder="short project description"
          type="textarea"
          data-cy="projectDescription"
        />
      </el-form-item>
      <el-form-item>
        <div class="form-btn">
          <el-button
            type="primary"
            :loading="loadingCreatingBtn"
            @click="confirmForm('formEntity')"
            >Create</el-button
          >
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { DTOP_DOMAIN, DTOP_PROTOCOL, DTOP_AUTH } from "@/dtop/dtopConsts";

export default {
  components: {},
  props: {
    studyProps: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      dataReady: false,
      typeSelectDisable: false,
      complexitySelectDisable: false,
      projectId: this.$route.params.id,
      formEntity: {
        title: "",
        tags: "tag",
        complexity: "",
        type: "",
        desc: "desc",
      },
      newEntityInModule: {
        entityId: null,
        entityName: "",
      },
      loadingCreatingBtn: false,
      rules: {
        title: [
          {
            required: true,
            message: "Please input entity title",
            trigger: "blur",
          },
        ],
        complexity: [
          {
            required: true,
            message: "Please select complexity",
            trigger: "change",
          },
        ],
        tags: [
          {
            required: true,
            message: "Please input tag",
            trigger: "change",
          },
        ],
        type: [
          {
            required: true,
            message: "Please select type",
            trigger: "change",
          },
        ],
        desc: [
          {
            required: true,
            message: "Please input description",
            trigger: "change",
          },
        ],
      },
    };
  },
  methods: {
    async setDefaultName(id) {
      axios.get(`projects/${id}`)
      .then((response) => {
        this.formEntity.title = response.data.name + "_ec";
      })
      .catch(() => {});
    },
    async getProjectTechnology(id) {
      axios.get(`projects/${id}`)
        .then((response) => {
          if (response.data.technology == "Wave") {
            this.formEntity.type = "WEC";
            this.typeSelectDisable = true;
          } else if (response.data.technology == "Tidal") {
            this.formEntity.type = "TEC";
            this.typeSelectDisable = true;
          } else {
            this.formEntity.type = "";
            this.typeSelectDisable = false;
          }
        })
        .catch(() => {});
    },
    async getProjectMCComplexity(id) {
      if (this.studyProps.template != "Standalone")
      {
        axios.get(`/studies-modules-entities/`, {
          params: {
            filter: {
              where:{
                and: [
                  { projectId: id },
                  { studyId: this.studyProps.id},
                  { moduleId: 2}
                ],
              },
            },
          }
        })
        .then((response) => {
          var theId = response.data[0].entityId;
          axios.get(`${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/${theId}`)
            .then((response2) => {
              this.formEntity.complexity = response2.data.complexity;
              this.complexitySelectDisable = true;
            })
            .catch(() => {});
          })
          .catch(() => {});
      }
    },
    async resetForm() {
      await this.getProjectTechnology(this.projectId);
      await this.getProjectMCComplexity(this.projectId);
      await this.setDefaultName(this.projectId);
      this.formEntity.tags = "tag";
      this.formEntity.desc = "desc";
    },
    async confirmForm(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        this.loadingCreatingBtn = true;
        try {
          const newEntity = await this.createNewEntityInModule();
          this.newEntityInModule.entityId = newEntity.data.ID;
          this.newEntityInModule.entityName = this.formEntity.title;
          this.$emit("create-new-entity-in-module", this.newEntityInModule);
          await this.resetForm();
        } catch (error) {
          this.$notify({
          title: "error",
          message: error.response.data.message,
          type: "error",
          });
        } finally {
          this.loadingCreatingBtn = false;
        }
      } else {
        return false;
      }
    },
    async createNewEntityInModule() {
      return axios.post(
        `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec`,
        this.formEntity,
        DTOP_AUTH
        ).catch(error => {
          this.$notify({
            title: "error",
            message: "EC module currently unavailable.",
            type: "error",
          });
        });
    },
  },
  async mounted() {
    await this.getProjectTechnology(this.projectId);
    await this.getProjectMCComplexity(this.projectId);
    await this.setDefaultName(this.projectId);
    this.dataReady = true;
  },
};
</script>

<style lang="scss">
</style>
