<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="dataReady">
    <el-form
      label-width="180px"
      :model="formEntity"
      ref="formEntity"
      :rules="rules"
    >
      <el-form-item label="Project Title" prop="title">
        <el-input
          v-model="formEntity.title"
          placeholder="add a project unique title"
        />
      </el-form-item>
      <el-form-item label="Tags" prop="tags">
        <el-input v-model="formEntity.tags" placeholder="add a project tag" />
      </el-form-item>
      <el-form-item label="Project Complexity" prop="complexity">
        <el-select
          v-model="formEntity.complexity"
          placeholder="Complexity Level"
          data-cy="projectComplexity"
        >
          <el-option label="1" value="1" />
          <el-option label="2" value="2" />
          <el-option label="3" value="3" />
        </el-select>
      </el-form-item>
      <el-form-item label="Machine type" prop="type">
        <el-input
          v-model="formEntity.type"
          placeholder="Machine Type"
          data-cy="projectMachineType"
          :disabled="typeSelectDisable"
        />
      </el-form-item>
      <el-form-item label="Project Description" prop="desc">
        <el-input
          v-model="formEntity.desc"
          placeholder="short project description"
          type="textarea"
          data-cy="projectDescription"
        />
      </el-form-item>
      <el-form-item>
        <div class="form-btn">
          <el-button
            type="primary"
            :loading="loadingCreatingBtn"
            @click="confirmForm('formEntity')"
            >Create</el-button
          >
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { DTOP_DOMAIN, DTOP_PROTOCOL, DTOP_AUTH } from "@/dtop/dtopConsts";

export default {
  components: {},
  data() {
    return {
      dataReady: false,
      typeSelectDisable: false,
      projectId: this.$route.params.id,
      formEntity: {
        title: "",
        tags: "",
        complexity: 1,
        type: "",
        desc: "desc",
      },
      newEntityInModule: {
        entityId: null,
        entityName: "",
      },
      loadingCreatingBtn: false,
      rules: {
        title: [
          {
            required: true,
            message: "Please input a title for the study",
            trigger: "blur",
          },
          {
            min: 1,
            max: 20,
            message: "Length should be 1 to 10",
            trigger: "blur",
          },
        ],
        tags: [
          {
            required: true,
            message: "Please input a tags for the study",
            trigger: "blur",
          },
          {
            min: 3,
            max: 20,
            message: "Length should be 3 to 10",
            trigger: "blur",
          },
        ],
        desc: [
          {
            required: true,
            message: "Please input a description for the study",
            trigger: "change",
          },
        ],
        complexity: [
          {
            required: true,
            message: "Please input a complexity for the study",
            trigger: "change",
          },
        ],
        type: [
          {
            required: true,
            message: "Please input a type for the study",
            trigger: "change",
          },
        ],
      }
    };
  },
  methods: {
    async setDefaultName(id) {
      let getPromise = axios.get(`projects/${id}`);
      getPromise
        .then((response) => {
          this.formEntity.title = response.data.name + "_mc";
        })
        .catch(() => {});
      return getPromise;
    },
    async getProjectTechnology(id) {
      let getPromise = axios.get(`projects/${id}`);
      getPromise
        .then((response) => {
          if (response.data.technology == "Wave") {
            this.formEntity.type = "WEC";
            this.typeSelectDisable = true;
          } else if (response.data.technology == "Tidal") {
            this.formEntity.type = "TEC";
            this.typeSelectDisable = true;
          } else {
            this.formEntity.type = "";
            this.typeSelectDisable = false;
          }
        })
        .catch(() => {});
      return getPromise;
    },
    async resetForm() {
      await this.getProjectTechnology(this.projectId);
      await this.setDefaultName(this.projectId);
      this.formEntity.tags = "tag";
      this.formEntity.complexity = 1;
      this.formEntity.desc = "desc";
    },
    async confirmForm(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        this.loadingCreatingBtn = true;
        try {
          let newEntity = await this.createNewEntityInModule();
          this.newEntityInModule.entityId = newEntity.data.ID;
          this.newEntityInModule.entityName = this.formEntity.title;
          this.$emit("create-new-entity-in-module", this.newEntityInModule);
          await this.resetForm();
        } catch (error) {
          this.$notify({
            title: "error",
            message: error.response.data.message,
            type: "error",
          });
        } finally {
          this.loadingCreatingBtn = false;
        }
      } else {
        return false;
      }
    },
    async createNewEntityInModule() {
      return axios.post(
        `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc`,
        this.formEntity,
        DTOP_AUTH
        ).catch(error => {
          this.$notify({
            title: "error",
            message: "MC module currently unavailable.",
            type: "error",
          });
        });
    },
  },
  async mounted() {
    await this.getProjectTechnology(this.projectId);
    await this.setDefaultName(this.projectId);
    this.dataReady = true;
  },
};
</script>

<style lang="scss">
</style>