<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="dataReady">
    <el-form
      label-width="180px"
      :model="formEntity"
      ref="formEntity"
      :rules="rules"
    >
      <el-form-item label="Project Title" prop="title">
        <el-input
          v-model="formEntity.title"
          placeholder="add a project unique title"
        ></el-input>
      </el-form-item>
      <el-form-item label="Tags" prop="tags">
        <el-input
          v-model="formEntity.tags"
          placeholder="add a project tag"
        ></el-input>
      </el-form-item>
      <el-form-item label="Project Complexity" prop="complexity">
        <el-select
          v-model="formEntity.complexity"
          placeholder="Complexity Level"
        >
          <el-option label="1" value="1"></el-option>
          <el-option label="2" value="2"></el-option>
          <el-option label="3" value="3"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Installation Lifespan">
        <el-select v-model="formEntity.lifetime" data-cy="projectLifespan">
          <el-option v-for="item in 50" :key="item" :label="item" :value="item">
          </el-option>
        </el-select>
        <span>years</span>
      </el-form-item>
      <el-form-item label="Project Description" prop="desc">
        <el-input
          placeholder="short project description"
          type="textarea"
          v-model="formEntity.desc"
          data-cy="projectDescription"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <div class="form-btn">
          <el-button
            type="primary"
            :loading="loadingCreatingBtn"
            @click="confirmForm('formEntity')"
            >Create</el-button
          >
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { DTOP_DOMAIN, DTOP_PROTOCOL, DTOP_AUTH } from "@/dtop/dtopConsts";
export default {
  data() {
    return {
      dataReady: false,
      formEntity: {
        title: "",
        tags: "tec",
        complexity: 1, //null,
        desc: "test",
        lifetime: 20,
      },
      rules: {
        title: [
          {
            required: true,
            message: "Please input a projct title",
            trigger: "blur",
          },
          {
            min: 3,
            max: 15,
            message: "Length should be 3 to 15",
            trigger: "blur",
          },
        ],
        tags: [
          {
            required: true,
            message: "Please input a tag for the project",
            trigger: "blur",
          },
          {
            min: 3,
            max: 5,
            message: "Length should be 3 to 5",
            trigger: "blur",
          },
        ],
        complexity: [
          {
            required: true,
            message: "Please select a Project Complexity",
            trigger: "change",
          },
        ],
        desc: [
          {
            required: true,
            message: "Please input a project description",
            trigger: "blur",
          },
        ],
      },
      newEntityInModule: {
        entityId: null,
        entityName: "",
      },
      loadingCreatingBtn: false,
    };
  },
  methods: {
    async setDefaultName(id) {
      let getPromise = axios.get(`projects/${id}`);
      getPromise
        .then((response) => {
          this.formEntity.title = response.data.name + "_rams";
        })
        .catch(() => {});
      return getPromise;
    },
    resetForm() {
      this.formEntity.tags = "tag";
      this.formEntity.complexity = 1;
      this.formEntity.desc = "desc";
      this.formEntity.lifetime = 20;
    },
    async confirmForm(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        this.loadingCreatingBtn = true;
        try {
          const newEntity = await this.createNewEntityInModule();
          this.newEntityInModule.entityId = newEntity.data.id;
          this.newEntityInModule.entityName = newEntity.data.title;
          this.$emit("create-new-entity-in-module", this.newEntityInModule);
          this.resetForm();
        } catch (error) {
          this.$notify({
            title: "error",
            message: error.response.data.message,
            type: "error",
          });
        } finally {
          this.loadingCreatingBtn = false;
        }
      } else {
        return false;
      }
    },
    async createNewEntityInModule() {
      return axios.post(
        `${DTOP_PROTOCOL}//rams.${DTOP_DOMAIN}/rams`,
        this.formEntity,
        DTOP_AUTH
      ).catch(error => {
          this.$notify({
            title: "error",
            message: "RAMS module currently unavailable.",
            type: "error",
          });
        });
    },
  },
  async mounted() {
    await this.setDefaultName(this.$route.params.id);
    this.dataReady = true;
  },
};
</script>

<style lang="scss">
</style>
