<template>
  <div>
    <div>
      Create and register a new entity for SI tool <br />
      You will be able to create a QFD/TRIZ and/or FMEA analyses <br />
      after creating and opening the entity.
    </div>
    <div class="form-btn">
      <el-button type="primary" @click="confirmForm">Create</el-button>
    </div>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  methods: {
    async confirmForm() {
      this.$emit("create-new-entity-in-module");
    },
  },
};
</script>

<style lang="scss" scoped>
.el-dialog__footer {
  padding: 0;
}
</style>
