<!--
This is the Main Module for the DTOceanPlus suite of Tools.
It is the main entry point to create and manage projects.
Copyright (C) 2021 OPEN CASCADE

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div v-if="dataReady">
    <el-form
      label-width="180px"
      :model="formEntity"
      ref="formEntity"
      :rules="rules"
    >
      <el-form-item label="Study title" prop="title">
        <el-input
          v-model="formEntity.title"
          placeholder="Please input study title"
        />
      </el-form-item>
      <el-form-item label="Description" prop="description">
        <el-input
          v-model="formEntity.description"
          placeholder="Please input description (optional)"
        />
      </el-form-item>
      <el-form-item label="Complexity" prop="complexity">
        <el-select
          v-model="formEntity.complexity"
          placeholder="Select complexity level"
        >
          <el-option
            v-for="item in complexities"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="confirmForm('formEntity')"
          >Create</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { DTOP_DOMAIN, DTOP_PROTOCOL, DTOP_AUTH } from "@/dtop/dtopConsts";
export default {
  data() {
    return {
      dataReady: false,
      complexities: [
        {
          value: "low",
          label: "1",
        },
        {
          value: "med",
          label: "2",
        },
        {
          value: "high",
          label: "3",
        },
      ],

      formEntity: {
        title: "",
        description: "",
        complexity: "",
      },
      rules: {
        title: [
          { required: true, message: "Please input title", trigger: "blur" },
        ],
        complexity: [
          {
            required: true,
            message: "Please input complexity",
            trigger: "change",
          },
        ],
      },
      newEntityInModule: {
        entityId: null,
        entityName: "",
      },
    };
  },
  async mounted() {
    await this.setDefaultName(this.$route.params.id);
    this.dataReady = true;
  },
  methods: {
    async setDefaultName(id) {
      let getPromise = axios.get(`projects/${id}`);
      getPromise
        .then((response) => {
          this.formEntity.title = response.data.name + "_slc";
        })
        .catch(() => {});
      return getPromise;
    },
    async resetForm() {
      await this.setDefaultName(this.$route.params.id);
      this.formEntity.description = "";
      this.formEntity.complexity = "";
    },
    async confirmForm(formName) {
      const valid = await this.$refs[formName].validate();
      if (valid) {
        this.loadingCreatingBtn = true;
        try {
          const newEntity = await this.createNewEntityInModule();
          this.newEntityInModule.entityId = newEntity.data.created_project.id;
          this.newEntityInModule.entityName = newEntity.data.created_project.title;
          this.$emit("create-new-entity-in-module", this.newEntityInModule);
          await this.resetForm();
        } catch (error) {
          this.$notify({
            title: "error",
            message: error.response.data.message,
            type: "error",
          });
        } finally {
          this.loadingCreatingBtn = false;
        }
      } else {
        return false;
      }
    },
    async createNewEntityInModule() {
      return axios.post(
        `${DTOP_PROTOCOL}//slc.${DTOP_DOMAIN}/api/projects`,
        this.formEntity,
        DTOP_AUTH
      ).catch(error => {
          this.$notify({
            title: "error",
            message: "SLC module currently unavailable.",
            type: "error",
          });
        });
    },
  },
};
</script>

<style lang="scss">
</style>
